{% extends "blog/base.html" %} {% load crispy_forms_tags %} {% block content %}

	<h1> Buscador de palavras e frases para SEO</h1>
			<h3 class="font-weight-light"> A escolha das palavras-chave certas é fundamental para SEO. Utilize o buscador grátis e ilimitado
			de palavras-chave</h3>

<div class="container mt-5 mb-3">

	<div class="row">
	
	</div>

	

	<div class="row g-5 border border-secondary">
		<div class="col-md-6">
			<h2>Pesquise qualquer palavra-chave ou frase</h2>
			<form method="post">
				{% csrf_token %} {{ form | crispy}}
				<button type="submit" class="btn btn-primary"  value="Submit">Pesquisar</button>
</form>
<br>
      </div>
      <div class="col-md-6">
        <h2>Top 10 palavras e frases mais buscadas </h2><h6> Beta </h6>
        

         {% for search_key in response %}
      
   <ul class="list-group list-group-flush">
  <li class="list-group-item">{{search_key}}</li>
      
            {% endfor %} 
        
      </div>
   
 
</div>

<hr class="col-2 col-md-4 mb-3">

<article class="mb-4">
	<div class="container">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10">
				<h1 class="section-heading">Planejador de palavra-chave[Explicado]: {{post.title}}</h1>
				<img class="card-img-top" src="{{ post.photo_title.url }}" alt="{{post.title}}">

<h2> {{post.subheading1}} </h2>
                      
                        <p> {{post.body1|linebreaks}} </p>
                        <h2 class="section-heading">{{post.subheading2}}</h2>
                        <img class="card-img-top" src="{{ post.photo_body1.image_url|default_if_none:'' }}" alt="">
                        
                        
                        <p>{{post.body2|linebreaks}}</p>
                        <blockquote class="blockquote"></blockquote>
                         
                        <h2 class="section-heading">{{post.subheading3}}</h2>
                        <img class="card-img-top" src="{{ post.photo_body2.image_url.url|default_if_none:'' }}" alt="">
                        <p>{{post.body3|linebreaks}}</p>
                        
                        <span class="caption text-muted"></span>
                         <img class="card-img-top" src="{{ post.photo_body3.image_url.url|default_if_none:'' }}" alt="">
                        <p class="section-heading">{{post.conclusion|linebreaks }}</p>
                        
                          <h4>- Publicado em: {{post.created}} -</h4>
                          <h4>Quer saber mais? Confira nosso 
                          <a href="{% url 'blog:' %}"<h5>Blog </h5> </a>
                            
                        </p>
                    </div>
                </div>
            </div>
        </article>


{% endblock %}